:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
}

body {
  background: #F5F5F5;
  font-family: "Roboto", sans-serif;
  color: #757575;
  letter-spacing: 0.03em;
  font-weight: 400;
  
}
.list {
  list-style: none;
}
.button {
  font-family: inherit;
}

/* The primary text color:#757575; */
/* The secondary text color: #212121;  */
/* The footer text contacts color: rgba(255, 255, 255, 0.6); */
/* the hover and button color: #2196F3; */

/* primary background: #F5F5F5; */
/* secondary background: #F5F4FA; */
/* header background: #FFFFFF; */
/* hero and footer background: #2F303A; */

/* header */

.header {
  background: #ffffff;
}
.icon {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.icon-web {
  color: #2196f3;
}
.icon-Studio {
  color: #000000;
}

/* navigation */

.nav-list a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.nav-list a:hover,
.nav-list a:focus {
  color: #2196f3;
}

.nav-contact a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.nav-contact a:hover,
.nav-contact a:focus {
  color: #2196f3;
}

/* hero */

.hero {
  background: #2f303a;
}

.hero-titel {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding: 10px 32px 10px 32px;
  background: #2196f3;
}

.hero-button:focus {
}

/* section qualities our company  */

.section-qualities .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.section-qualities .text {
  font-size: 14px;
  line-height: 1.71;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--secondary-text-color);
}

/* our-team */

.section-our-team .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--secondary-text-color);
}

.section-our-team .text {
  font-size: 16px;
  line-height: 1.18;
}

/* footer */

.address {
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
}

.footer-contact {
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.footer-contact:focus {
}

.footer {
  background: #2f303a;
}



/* page portfolio */

/* filter */

.list-filter{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    color: var(--secondary-text-color);
    background: #F5F4FA;
}

.list-filter li:hover,
.list-filter li:focus {
    background-color: #2196F3;
    color: #FFFFFF;
}

/* <!-- examples of our works --> */
.examples-list h3{
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--secondary-text-color);
}

.examples-list p{
    font-size: 16px;
    line-height: 1.87;
    color: var(--primary-text-color);
}

.examples-list :hover,
.examples-list li:focus{
    background-color: #2196F3;
}